name: Build, Release and Publish

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - 
        name: Remove files from Release
        id: Release Cleanup
        run: |
          rm -rf release-please-config.json README.md LICENSE Hosts.yml CHANGELOG.md .release-please-manifest.json .gitignore .gitattributes
        shell: bash

      -
        name: Release-Please
        id: release
        uses: GoogleCloudPlatform/release-please-action@v3
        if: steps.vagrant-destroy.outputs.exit_code == 0
        with:
          command: manifest
          default-branch: main
          package-name: demo-tasks
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
          version-file: "core/version.rb"